@using HospitalManagement.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Welcome to Our Hospital</h1>
    <p class="lead">We are dedicated to providing top-quality healthcare for all of our patients</p>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/Hospital.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Book an Appointment</h5>
                        <p class="card-text">Easily book an appointment with one of our doctors online.</p>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/babyYoda.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">View Our Services</h5>
                        <p class="card-text">Learn more about the wide range of services we offer at our hospital.</p>
                        <a href="#" class="btn btn-primary">View Services</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/Hospital.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Insurance Information</h5>
                        <p class="card-text">Learn more about the insurance plans we accept at our hospital.</p>
                        <a href="#" class="btn btn-primary">View Insurance</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

